<!DOCTYPE html>
<html>
<head>
  <title>Blooger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Blooger</a>
        <div class="nav navbar-nav navbar-right">
          <%= link_to "Add Post", new_post_path, class: ['btn-primary', 'btn']%>
        </div>
      </div>
    </nav>

    <%= flash[:alert] %>
    <%= flash[:notice] %>

    <%= yield %>
  </div>
</body>
</html>
